---
import Comp from "../components/Comp.tsx"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style is:global>
			.client {
				color: red;
			}
			.server {
				color: blue;
			}
		</style>
	</head>
	<body>
		<Comp client:idle />
	</body>
</html>
